<!DOCTYPE html>
<html>
<head>
  <title>ArAssociation</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <br>
  <li role="presentation"><a href="#">People</a></li>
  <br>
  <li role="presentation"><a href="#">Hobby</a></li>
</ul>
<div class="jumbotron">
  <h1>People!</h1>
  <p>In order to maintain a healthy lifestyle, why not look at what people do for fun</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
  <%= yield %>
</body>
</html>
