<!DOCTYPE html>
<html>
<head>
  <title>ArAssociation</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <ul class="nav">
  <li role="presentation" class="active"><a href="/">Home</a></li>
  <br>
  <li role="presentation"><a href="/people">People</a></li>
  <br>
  <li role="presentation"><a href="/hobbies">Hobby</a></li>
</ul>

  <%= yield %>
</body>
</html>
